<div id = "percentage_calculate_<%= @question.id %>" class ="row" >
<h1> <%= @question.calculate_percentage[0] %>%
  <span class="percentage"> <%= @question.calculate_percentage[1] %>%</span> </h1>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width:<%= @question.calculate_percentage[0] %>%"></div>
    <div class="progress-bar progress-bar-info" style="width:<%= @question.calculate_percentage[1] %>%" ></div>
  </div>
</div>
