HOMEPAGE!!!!!!!
<br><br><br>
<% if current_user %>
<% @questions.each do |question| %>
  <div class= "container text-center">
    <%= question.description %>
    <div class= "row">
      <% question.options.order(:created_at).each do |option| %>
        <div class="col-md-6">
          <figure>
            <%= link_to(question_option_path(question, option), :method => :patch, remote: true) do %>
              <%= image_tag option.image_url, width: "250", height: "250" %>
              <em><figcaption><%= option.name %></figcaption></em>
            <% end %>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
  <div id="percentage_calculate_<%= question.id %>" class="row" >

  </div>


<% end %>
<footer class="footer">
  <div class="container">
<%= link_to "New Question", new_question_path, id: "new_question_link", class: "btn btn-info", remote: true %>
</div>
</footer>
<% end %>
