<!DOCTYPE html>
<html>
<head>
  <title>WhatsGrosser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] %>
  <%= flash[:alert] %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">

      <li class="pull-left"><%= link_to "What's Grosser", "/" %></li>

      <% if user_signed_in? %>
      <li class="pull-right">
        <span>
          <!-- <%# if current_user.admin? %>
          Welcome admin, <i><%#= current_user.username %></i>! |
          <%# else %> -->
          You are logged in as <i><%= current_user.email %></i>! |
          <!-- <%# end %> -->

          <%= link_to "Logout", destroy_user_session_path, method: :delete %>

        </span>
      </li>
      <% else %>
      <li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
      <li class="pull-right"><%= link_to "Signup",  new_user_registration_path %></li>
      <% end %>

    </ul>
  </nav>


<div class="container">
  <%= yield %>
</div>
</body>
</html>
